# Object file
*.o
node_modules
*.data.json
.*.swp
tmp

# Ada Library Information
* .al
</s> </s> </s> </s> </s> </s> </s> </s> </s> </s> </s> </s> </ s> </s> </s> </s> </s> </s> </s> </s> </s> </s> </s> </s> </s> </s> </s> ora
